/*set default margin/padding/font*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*set default backgroud color for the ENTIRE website*/
body{
    background-color: #d0ccd0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*change website links background color and padding*/
header{
    background-color: rgba(255, 255, 255, 0.651);
    padding: 10px 0 10px 0;
    align-items: center;
    justify-content: center;
    text-align:center;
}

header li{
    display: inline;
    margin: 0 50px 0 50px;
}

/*Center name header, create box, add bold*/
.Introduction h1{
    margin: 0 5% 0 5%;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    padding: 15px 20px 15px 20px;
    background-color: rgba(255, 255, 255, 0.651);
    font-size: 22pt;
}

/*wrap both img and p in div to adjust position underneath h1*/
.Introduction div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px 10px;
}

.Introduction img{
    border-radius: 75px;
    margin: 20px 50px 20px 20px;
}

.Introduction p{
    padding: 20px 20px 20px 20px;
    width: 300px;
}

.What_I_do h2{
    margin: 0 10% 0 10%;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    padding: 5px 0 5px 0;
    background-color: rgba(255, 255, 255, 0.651);
    font-size: 16pt;
}

.What_I_do div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 20px 10px 20px;
}

.What_I_do p{
    padding: 20px 40px 20px 20px;
    width: 300px;
}

.About_me h3{
    margin: 0 10% 0 10%;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    padding: 5px 0 5px 0;
    background-color: rgba(255, 255, 255, 0.651);
    font-size: 16pt;
}

.About_me p{
    padding: 20px 20px 20px 20px;
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

.contacts p{
    text-align: center;
    padding: 0 0 0 0;
    font-size: 11pt;
}

footer{
    background-color: rgba(255, 255, 255, 0.651);
    text-align: center;
}
/*END OF EDITS ON INDEX.HTML*/

/*BEGINING OF EDITS ON projects.html*/
.project_example h1{
    margin: 0 10% 0 10%;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    padding: 5px 0 5px 0;
    background-color: rgba(255, 255, 255, 0.651);
    font-size: 16pt;
}

.capstoneProject img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 15px 0;
}

.capstoneProject p{
    padding: 20px 60px 20px 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

.javaProject img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 15px 0;
}

.javaProject p{
    padding: 20px 60px 20px 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}
/*END OF EDITS ON projects.HTML*/

/*BEGINING OF EDITS ON aboutWebsite.html*/
/*Create default header information*/
.siteInfo h4{
    margin: 0 10% 0 10%;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    padding: 5px 0 5px 0;
    background-color: rgba(255, 255, 255, 0.651);
    font-size: 16pt;
}

/*center p and add padding*/
.siteInfo p{
    padding: 20px 60px 20px 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

/*center image in page*/
.siteInfo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}