*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #d0ccd0;
}

header{
    background-color: rgba(255, 255, 255, 0.651);
    padding: 10px 0 10px 0;
    text-align: center;
}

.Introduction h1{
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    background-color: rgba(255, 255, 255, 0.651);
    font-size: 22pt;
}

.Introduction img{
    border-radius: 75px;
    margin: 20px 20px 20px 20px;
    float: right;
}

.Introduction p{
    padding: 20px 20px 20px 20px;
}

.What_I_do h2{
    margin: 0 10% 0 10%;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    padding: 5px 0 5px 0;
    background-color: rgba(255, 255, 255, 0.651);
    font-size: 16pt;
}

.What_I_do p{
    padding: 20px 20px 20px 20px;
}

.What_I_do{
    display: inline;
}

.What_I_do p img{
    float: right;
}
.About_me h3{
    margin: 0 10% 0 10%;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    padding: 5px 0 5px 0;
    background-color: rgba(255, 255, 255, 0.651);
    font-size: 16pt;
}

.About_me p{
    padding: 20px 20px 20px 20px;
}

.contacts p{
    text-align: center;
    padding: 0 0 0 0;
    font-size: 11pt;
}

footer{
    background-color: rgba(255, 255, 255, 0.651);
}